<div class="row">
	<div class="text-center">
		<h1>Welcome to JB's Music Hub</h1>
	
		<br>

		<p>Please use the nav bar on the side to retrieve assignments, download resources and upload homework.</p>
	</div>
	
</div>