<div class="container">
	<div class="row">
		<div class="text-center">
			<h1>Welcome to JB's Music Hub</h1>
		</div>	
			<hr>
			<br>
			<div class="row">
				<div class="col-xl-8 col-md-6 col-sm-6 mb-3">
	        <div class="card mb-3">
		        
		        <div class="card-header">
		          <i class="fa fa-home"></i> Homepage
		        </div>
		        
		        <div class="card-body">
		          BJ's School of Music is a studio where music education matters most. BJ's strives to provide an education that will allow the student to walk away knowledgeable and joyful about music.
		          <br>
		          <br>
				 		  Whether you're a musician or not, we have lessons that can increase your appreciation and understanding of music exponentially.
				 		  <br>
				 		  <br>
				 		  Please use the nav bar on the side to retrieve assignments, download resources and upload homework.

				 		  <%#= image_tag("logo.jpg", :alt => "logo"), class: 'img-responsive'%>
		        </div>
		        
	      	</div>	
	    	</div> 

	    	<div class="col-xl-4 col-md-3 col-sm-3 mb-3">
	        <div class="card mb-3">
		        
		        <div class="card-header">
		           Latest Video
		        </div>
		        
		        <div class="card-body">
		        	<div class="embed-responsive embed-responsive-16by9">
		         		<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/UJ_Y8EQqerM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe> -->
		       		</div>
		        </div>
	      	</div>	
	    	</div> 				
			</div>
			<div class="row">
				<div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bell-o"></i> Feed Example</div>
            <div class="list-group list-group-flush small">
              <% @notifications.each do |notification| %>
              
	              <a class="list-group-item list-group-item-action" href="#">
	                <div class="media">
	                  
	                  <div class="media-body">
	                    <strong>New</strong>assignment posted
	                    <strong><%= notification.title %></strong>.
	                    <div class="text-muted smaller">Today at <%=notification.created_at.stamp("Sun Aug 5")%> - Xm ago</div>
	                  </div>

	                </div>
	              </a>
	            <% end  %>  
              <a class="list-group-item list-group-item-action" href="#">View all activity...</a>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
			</div>	
	</div>
</div>



